<!DOCTYPE HTML>
<html>
<head>
  <title>{{title}} Documentation{{#if version}} | {{version}}{{/if}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="https://github.com/janrain/raml-fleece{{config.version}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/darkula.min.css">
  <script type="text/javascript"></script>

  <style>
  {{#> custom-before-style}}{{/ custom-before-style}}
  {{#> custom-style }}
    {{> style }}
  {{/ custom-style }}
  {{#> custom-after-style}}{{/ custom-after-style}}
  </style>
</head>
<body>
  {{#> custom-main}}
    {{> main}}
  {{/ custom-main}}
</body>
</html>
